<h2>Car panel</h2>

<div class="tab-panel shadow-sm">
  <tabset class="member-tabset">
    <tab heading="Car management">
      <div class="container">
        <div class="row">
          <table class="table">
            <tr>
              <th style="width: 10%">Id</th>
              <th style="width: 20%">Owner</th>
              <th style="width: 20%">Brand</th>
              <th style="width: 20%">Model</th>
              <th style="width: 10%">Year</th>
              <th style="width: 10%">
              </th>
            </tr>
            <tr *ngFor="let item of carros">
              <td>{{ item.id }}</td>
              <td>{{ item.customer.name }}</td>
              <td>{{ item.brand }}</td>
              <td>{{ item.model }}</td>
              <td>{{ item.year }}</td>
              <td>
                <a routerLink="/Cars/{{item.id}}">
                  <button class="btn btn-info shadow-sm">Ir</button>
                </a>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </tab>
  </tabset>
</div>

<a routerLink="/Car/New">
  <button class="btn btn-success shadow mt-2">Agregar cliente</button>
</a>
