<h2 class="text-center">Detalle del vehículo</h2>

<form>
  <div class="form-group row">
    <label for="id" class="col-sm-2 col-form-label text-end mt-2 mb-2">Id</label>
    <div class="col-sm-10 mt-2 mb-2">
      <input
      class="form-control shadow-sm"
      type="text"
      name="id"
      autocomplete="off"
      [(ngModel)]="model.id"
      placeholder="Id"
      disabled
      />
    </div>

    <label for="customerId" class="col-sm-2 col-form-label text-end mt-2 mb-2">Customer Id</label>
    <div class="col-sm-10 mt-2 mb-2">
      <input
      class="form-control shadow-sm"
      type="text"
      name="customerId"
      autocomplete="off"
      [(ngModel)]="model.customer.id"
      placeholder="Customer Id"
      disabled
      />
    </div>

    <label for="brand" class="col-sm-2 col-form-label text-end mt-2 mb-2">Brand</label>
    <div class="col-sm-10 mt-2 mb-2">
      <input
      class="form-control shadow-sm"
      type="text"
      name="brand"
      autocomplete="off"
      [(ngModel)]="model.brand"
      placeholder="Brand"
      disabled
      />
    </div>

    <label for="model" class="col-sm-2 col-form-label text-end mt-2 mb-2">Model</label>
    <div class="col-sm-10 mt-2 mb-2">
      <input
      class="form-control shadow-sm"
      type="text"
      name="model"
      autocomplete="off"
      [(ngModel)]="model.model"
      placeholder="Model"
      disabled
      />
    </div>

    <label for="year" class="col-sm-2 col-form-label text-end mt-2 mb-2">Year</label>
    <div class="col-sm-10 mt-2 mb-2">
      <input
      class="form-control shadow-sm"
      type="text"
      name="year"
      autocomplete="off"
      [(ngModel)]="model.year"
      placeholder="Year"
      disabled
      />
    </div>

    <label for="niv" class="col-sm-2 col-form-label text-end mt-2 mb-2">NIV</label>
    <div class="col-sm-10 mt-2 mb-2">
      <input
      class="form-control shadow-sm"
      type="text"
      name="niv"
      autocomplete="off"
      [(ngModel)]="model.niv"
      placeholder="NIV"
      disabled
      />
    </div>

    <label for="color" class="col-sm-2 col-form-label text-end mt-2 mb-2">Color</label>
    <div class="col-sm-10 mt-2 mb-2">
      <input
      class="form-control shadow-sm"
      type="text"
      name="color"
      autocomplete="off"
      [(ngModel)]="model.color"
      placeholder="Color"Image URL
      disabled
      />
    </div>

    <label for="imageUrl" class="col-sm-2 col-form-label text-end mt-2 mb-2">Image URL</label>
    <div class="col-sm-10 mt-2 mb-2">
      <input
      class="form-control shadow-sm"
      type="text"
      name="imageUrl"
      autocomplete="off"
      [(ngModel)]="model.imageUrl"
      placeholder="Image URL"
      disabled
      />
    </div>

    <h4 class="text-center">Owner Information</h4>

    <label for="customerId" class="col-sm-2 col-form-label text-end mt-2 mb-2">Id</label>
    <div class="col-sm-10 mt-2 mb-2">
      <input
      class="form-control shadow-sm"
      type="text"
      name="customerId"
      autocomplete="off"
      [(ngModel)]="model.customer.id"
      placeholder="Id"
      disabled
      />
    </div>

    <label for="customerName" class="col-sm-2 col-form-label text-end mt-2 mb-2">Name</label>
    <div class="col-sm-10 mt-2 mb-2">
      <input
      class="form-control shadow-sm"
      type="text"
      name="customerName"
      autocomplete="off"
      [(ngModel)]="model.customer.name"
      placeholder="Name"
      disabled
      />
    </div>

    <label for="apellidoPaterno" class="col-sm-2 col-form-label text-end mt-2 mb-2">Apellido Paterno</label>
    <div class="col-sm-10 mt-2 mb-2">
      <input
      class="form-control shadow-sm"
      type="text"
      name="apellidoPaterno"
      autocomplete="off"
      [(ngModel)]="model.customer.apellidoPaterno"
      placeholder="Apellido Paterno"
      disabled
      />
    </div>

    <label for="apellidoMaterno" class="col-sm-2 col-form-label text-end mt-2 mb-2">Apellido Materno</label>
    <div class="col-sm-10 mt-2 mb-2">
      <input
      class="form-control shadow-sm"
      type="text"
      name="apellidoMaterno"
      autocomplete="off"
      [(ngModel)]="model.customer.apellidoMaterno"
      placeholder="Apellido Materno"
      disabled
      />
    </div>

    <label for="edad" class="col-sm-2 col-form-label text-end mt-2 mb-2">edad</label>
    <div class="col-sm-10 mt-2 mb-2">
      <input
      class="form-control shadow-sm"
      type="text"
      name="edad"
      autocomplete="off"
      [(ngModel)]="model.customer.edad"
      placeholder="edad"
      disabled
      />
    </div>

    <label for="rfc" class="col-sm-2 col-form-label text-end mt-2 mb-2">RFC</label>
    <div class="col-sm-10 mt-2 mb-2">
      <input
      class="form-control shadow-sm"
      type="text"
      name="rfc"
      autocomplete="off"
      [(ngModel)]="model.customer.rfc"
      placeholder="RFC"
      disabled
      />
    </div>

    <label for="customerImageURL" class="col-sm-2 col-form-label text-end mt-2 mb-2">customerImageURL</label>
    <div class="col-sm-10 mt-2 mb-2">
      <input
      class="form-control shadow-sm"
      type="text"
      name="customerImageURL"
      autocomplete="off"
      [(ngModel)]="model.customer.imageUrl"
      placeholder="customerImageURL"
      disabled
      />
    </div>

  </div>
</form>

<div class="container" style="margin-top: 30px">
  <a routerLink="/Cars">
    <button class="btn btn-secondary shadow me-2">Atras</button>
  </a>
  <a routerLink="/Car/Edit/{{ model.id }}">
    <button class="btn btn-info shadow me-2">Editar</button>
  </a>
  <button class="btn btn-danger shadow me-2" (click)="borrar(model.id)">
    Borrar
  </button>
  <a routerLink="/Historial/{{ model.id }}">
    <button class="btn btn-warning me-2 shadow">Historial</button>
  </a>
</div>
