<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">Aplicacion demostrativa</a>
    <ul class="navbar-nav me-auto mb-2 mb-md-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="/Shops" routerLinkActive="active">Talleres</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/Cars" routerLinkActive="active">Carros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/Events" routerLinkActive="active">Citas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/Customers" routerLinkActive="active">Customers</a>
      </li>
    </ul>
  </div>
</nav>
