<h3 class="text-center">Editar carro</h3>
<form #form="ngForm" (ngSubmit)="actualizarCarro(car)">
  <div class="form-group row">
    <label for="id" class="col-sm-2 col-form-label text-end mt-2 mb-2"
      >Id</label
    >
    <div class="col-sm-10 mt-2 mb-2">
      <input
        class="form-control shadow-sm"
        type="text"
        name="id"
        autocomplete="off"
        [(ngModel)]="car.id"
        placeholder="Id"
        disabled
      />
    </div>

    <label for="customerId" class="col-sm-2 col-form-label text-end mt-2 mb-2"
      >Customer Id</label
    >
    <div class="col-sm-10 mt-2 mb-2">
      <input
        class="form-control shadow-sm"
        type="text"
        name="customerId"
        autocomplete="off"
        [(ngModel)]="car.customerId"
        placeholder="Customer Id"
        disabled
      />
    </div>

    <label for="brand" class="col-sm-2 col-form-label text-end mt-2 mb-2"
      >Brand</label
    >
    <div class="col-sm-10 mt-2 mb-2">
      <input
        class="form-control shadow-sm"
        type="text"
        name="brand"
        autocomplete="off"
        [(ngModel)]="car.brand"
        placeholder="Brand"
      />
    </div>

    <label for="model" class="col-sm-2 col-form-label text-end mt-2 mb-2"
      >Model</label
    >
    <div class="col-sm-10 mt-2 mb-2">
      <input
        class="form-control shadow-sm"
        type="text"
        name="model"
        autocomplete="off"
        [(ngModel)]="car.model"
        placeholder="model"
      />
    </div>

    <label for="year" class="col-sm-2 col-form-label text-end mt-2 mb-2"
      >Year</label
    >
    <div class="col-sm-10 mt-2 mb-2">
      <input
        class="form-control shadow-sm"
        type="text"
        name="year"
        autocomplete="off"
        [(ngModel)]="car.year"
        placeholder="Year"
      />
    </div>

    <label for="niv" class="col-sm-2 col-form-label text-end mt-2 mb-2"
      >NIV</label
    >
    <div class="col-sm-10 mt-2 mb-2">
      <input
        class="form-control shadow-sm"
        type="text"
        name="niv"
        autocomplete="off"
        [(ngModel)]="car.niv"
        placeholder="NIV"
      />
    </div>

    <label for="color" class="col-sm-2 col-form-label text-end mt-2 mb-2"
      >Color</label
    >
    <div class="col-sm-10 mt-2 mb-2">
      <input
        class="form-control shadow-sm"
        type="text"
        name="color"
        autocomplete="off"
        [(ngModel)]="car.color"
        placeholder="Color"
      />
    </div>

    <label for="imageUrl" class="col-sm-2 col-form-label text-end mt-2 mb-2"
      >Image URL</label
    >
    <div class="col-sm-10 mt-2 mb-2">
      <input
        class="form-control shadow-sm"
        type="text"
        name="imageUrl"
        autocomplete="off"
        [(ngModel)]="car.imageUrl"
        placeholder="Image URL"
      />
    </div>

</div>

  <button class="btn btn-success shadow me-2 mt-2">Update</button>
</form>
